<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/master-layout">
<head>
    <meta charset="UTF-8">
    <title>Subject creator</title>
</head>
<body>
<div layout:fragment="content">
    <form action="#" th:action="@{/subjects/new}" th:object="${subject}" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" th:field="*{name}"/>
        </div>
        <div>
            <label for="teacher">Teacher:</label>
            <select id="teacher" name="teacher.id" th:field="*{teacher}">
                <option th:each="teacher : ${teachers}" th:value="${teacher.getId()}" th:text="${teacher.getName()+' '+teacher.getSurname()}"></option>
            </select>
        </div>
        <button type="submit">Create</button>
    </form>

</div>
</body>
</html>