<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/master-layout">
<head>
    <meta charset="UTF-8">
    <title>Teachers</title>
</head>
<body>
<div layout:fragment="content">
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teacher : ${teachers}">
            <td th:text="${teacher.getId()}"></td>
            <td th:text="${teacher.getName()}"></td>
            <td th:text="${teacher.getSurname()}"></td>
            <td>
                <a th:href="@{/teachers/{id}(id=${teacher.getId()})}">Details</a>
            </td>
        </tr>
        </tbody>
    </table>
    <form method="get" th:action="@{/teachers/new}">
        <button type="submit">New</button>
    </form>
</div>
</body>
</html>